[Unit]
Description=Unblock Wi-Fi RF-Kill
After=network-pre.target sys-subsystem-net-devices-wlan0.device
Before=network.target
Wants=sys-subsystem-net-devices-wlan0.device
[Service]
Type=oneshot
ExecStart=/bin/sleep 2
ExecStart=/usr/sbin/rfkill unblock wifi
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
