# OpenVPN credentials
VPN_USER=
VPN_PASS=

# Iodine DNS tunnel configuration
IODINE_TOPDOMAIN=
IODINE_NAMESERVER=
IODINE_PASS=
IODINE_MTU=1400
IODINE_LAZY=true
IODINE_INTERVAL=4

# Hans VPN configuration
HANS_SERVER=
HANS_PASSWORD=

# WiFi AP configuration
WIFI_SSID="Haxinator 2000"
WIFI_PASSWORD="ChangeMe"
